<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JGJChatBaseValues</key>
	<array>
		<dict>
			<key>date</key>
			<string>2016-09-21 22:43:22</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_1.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474469003</string>
			<key>msg_id</key>
			<string>3</string>
			<key>msg_text</key>
			<string>老王,你去看看5#楼南面的动力箱怎么老是跳闸。</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>何小满</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:46</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_2.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474528006</string>
			<key>msg_id</key>
			<string>8</string>
			<key>msg_text</key>
			<string>今天中午你们哪个没戴安全帽， 害的我被罚50元？</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string></string>
			<key>belongType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:08:12</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_3.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474528093</string>
			<key>msg_id</key>
			<string>10</string>
			<key>msg_text</key>
			<string>杨德贵，看你们今天中午的钢筋，不合格的就不要往上搞，弄好了再搞，省得自己吃力不讨好！</string>
			<key>msg_type</key>
			<string>quality</string>
			<key>user_name</key>
			<string>李占</string>
			<key>msg_src</key>
			<array>
				<string>media/default_imgs/quality_1.jpg</string>
				<string>media/default_imgs/quality_2.jpg</string>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 22:44:00</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_2.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474469041</string>
			<key>msg_id</key>
			<string>4</string>
			<key>msg_text</key>
			<string>老王，要下暴雨了，把机器搬回屋里去。</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string></string>
			<key>belongType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:46</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_4.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474528006</string>
			<key>msg_id</key>
			<string>8</string>
			<key>msg_text</key>
			<string>好的，我马上就来</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>老王</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 17:44:05</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_5.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474451045</string>
			<key>msg_id</key>
			<string>1</string>
			<key>msg_type</key>
			<string>safe</string>
			<key>user_name</key>
			<string>张平</string>
			<key>msg_text</key>
			<string>邓树云，你们3#楼12层，电梯井口的防护措施不合格，必须立即停下手里的工作马上将它弄好，一会儿来检查发现就要罚款2000元。</string>
			<key>msg_src</key>
			<array>
				<string>media/default_imgs/safe_1.jpg</string>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 22:44:02</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_2.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474469042</string>
			<key>msg_id</key>
			<string>5</string>
			<key>msg_text</key>
			<string>兄弟们，加紧搞完，晚上我请大家吃火锅</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string></string>
			<key>belongType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:08:12</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_2.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474528093</string>
			<key>msg_id</key>
			<string>10</string>
			<key>msg_text</key>
			<string>1.今天下午上面领导要来工地检查卫生，大家要把钢筋放好，生活区的卫生打净2.下班的时候各人把道路两边的材料堆放整齐3.下午所有人员必须戴好安全帽，系好安全带！</string>
			<key>msg_type</key>
			<string>notice</string>
			<key>user_name</key>
			<string>曾国强</string>
			<key>belongType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:32</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_8.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474527992</string>
			<key>msg_id</key>
			<string>7</string>
			<key>msg_text</key>
			<string>抓紧搞，晚上老大请兄弟们吃火锅哦</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>吴二娃</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 17:44:05</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_9.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474451045</string>
			<key>msg_id</key>
			<string>1</string>
			<key>msg_type</key>
			<string>quality</string>
			<key>user_name</key>
			<string>王胜</string>
			<key>msg_text</key>
			<string>已经严重生锈的钢筋就不能继续使用了</string>
			<key>msg_src</key>
			<array>
				<string>media/default_imgs/quality_3.jpg</string>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:32</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_6.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474527992</string>
			<key>msg_id</key>
			<string>7</string>
			<key>msg_text</key>
			<string>吴二娃，你喊大家先把那些材料清理一下，我也马上过来。</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>张以平</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:32</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_8.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474527992</string>
			<key>msg_id</key>
			<string>7</string>
			<key>msg_text</key>
			<string>好的</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>吴二娃</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:32</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_10.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474527992</string>
			<key>msg_id</key>
			<string>7</string>
			<key>msg_text</key>
			<string>我把这边的材料清理干净了，我先下班了哦。</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>李满</string>
		</dict>
	</array>
	<key>JGJTeamValues</key>
	<dict>
		<key>team_info</key>
		<dict>
			<key>pro_name</key>
			<string>示范项目</string>
			<key>team_comment</key>
			<string>世纪城-土建班</string>
		</dict>
		<key>source_members</key>
		<array/>
		<key>group_id</key>
		<string>-1</string>
		<key>group_info</key>
		<dict>
			<key>city_code</key>
			<string>510100</string>
			<key>city_name</key>
			<string>成都</string>
			<key>group_id</key>
			<string>-1</string>
			<key>group_name</key>
			<string>世纪城-土建班</string>
			<key>pro_id</key>
			<string>0</string>
			<key>pro_name</key>
			<string>示范项目</string>
		</dict>
		<key>member_list</key>
		<array>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_2.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>1</integer>
				<key>real_name</key>
				<string>曾国强</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_3.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>李占</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_4.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>老王</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_5.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>张平</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_6.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>张以平</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_7.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>吴东海</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_8.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>吴二娃</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_9.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>王胜</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_10.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>李满</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_1.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>何小满</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
		</array>
		<key>report_user_list</key>
		<array/>
	</dict>
</dict>
</plist>
