<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mineInfos</key>
	<array>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>开通吉工家微信服务</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>更换手机号</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>关联账号</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>帮助中心</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>关于我们</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>联系我们</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>清空缓存</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>退出账号</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
