<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JGJChatBaseValues</key>
	<array>
		<dict>
			<key>date</key>
			<string>2016-09-21 22:43:22</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_1.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474469003</string>
			<key>msg_id</key>
			<string>3</string>
			<key>msg_text</key>
			<string>18层南面防护网没有绑紧，上去干活有安全隐患，吃完中午饭架工班派几个人去绑好。</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>陈刚</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:46</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_2.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474528006</string>
			<key>msg_id</key>
			<string>8</string>
			<key>msg_text</key>
			<string>刘文强，安全检查合格才能安排工人去做。</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string></string>
			<key>belongType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:08:12</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_3.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474528093</string>
			<key>msg_id</key>
			<string>10</string>
			<key>msg_text</key>
			<string>刘工，今天中午绑的钢筋质量不合格，必须返工重新做</string>
			<key>msg_type</key>
			<string>quality</string>
			<key>user_name</key>
			<string>徐太武</string>
			<key>msg_src</key>
			<array>
				<string>media/default_imgs/quality_11.jpg</string>
				<string>media/default_imgs/quality_12.jpg</string>
				<string>media/default_imgs/quality_13.jpg</string>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 22:44:00</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_4.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474469041</string>
			<key>msg_id</key>
			<string>4</string>
			<key>msg_text</key>
			<string>王工，收到，我现在安排好，下午上班就去处理。</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>刘文强</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:46</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_2.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474528006</string>
			<key>msg_id</key>
			<string>8</string>
			<key>msg_text</key>
			<string>1.今天下午市里要来检查，请各班组将工地卫生搞好，特别是生活区！2.各班组务必将道路两边的材料分开整齐堆放！3.所有人员必须戴好安全帽，系好安全带！</string>
			<key>msg_type</key>
			<string>notice</string>
			<key>user_name</key>
			<string>曾国强</string>
			<key>belongType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 17:44:05</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_5.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474451045</string>
			<key>msg_id</key>
			<string>1</string>
			<key>msg_type</key>
			<string>safe</string>
			<key>user_name</key>
			<string>赵小光</string>
			<key>msg_text</key>
			<string>周大新，你们班组为什么每次架子上堆那么多东西，这样是很危险的。</string>
			<key>msg_src</key>
			<array>
				<string>media/default_imgs/safe_11.jpg</string>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 22:44:02</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_1.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474469042</string>
			<key>msg_id</key>
			<string>5</string>
			<key>msg_text</key>
			<string>大家看到有哪些地方防护网还没有绑紧的，给我说一声哈
</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>陈刚</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:03:51</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_6.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474527831</string>
			<key>msg_id</key>
			<string>6</string>
			<key>msg_text</key>
			<string>1、不用的电缆线要收起来，不能裸露的放在地上，一会儿过来检查，发现没改的话，罚款2000 2、把配电箱的线派人重新按标准接，3、氧气和液化气相隔至少5米以上，杜绝安全隐患，要去摆开。</string>
			<key>msg_type</key>
			<string>safe</string>
			<key>user_name</key>
			<string>范小俊</string>
			<key>msg_src</key>
			<array>
				<string>media/default_imgs/safe_12.jpg</string>
				<string>media/default_imgs/safe_13.jpg</string>
				<string>media/default_imgs/safe_14.jpg</string>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 22:43:23</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_7.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474469003</string>
			<key>msg_id</key>
			<string>3</string>
			<key>msg_text</key>
			<string>我这就去叫他们赶紧收拾工具，去把材料堆放好，卫生打扫干净！</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>夏华云</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:08:12</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_2.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474528093</string>
			<key>msg_id</key>
			<string>10</string>
			<key>msg_text</key>
			<string>陈正兵，你们班组的人呢？</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string></string>
			<key>belongType</key>
			<string>1</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-22 15:06:32</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_8.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474527992</string>
			<key>msg_id</key>
			<string>7</string>
			<key>msg_text</key>
			<string>张德广，以下质量问题必须尽快整改</string>
			<key>msg_type</key>
			<string>quality</string>
			<key>user_name</key>
			<string>郭胜南</string>
			<key>msg_src</key>
			<array>
				<string>media/default_imgs/quality_14.jpg</string>
				<string>media/default_imgs/quality_15.jpg</string>
			</array>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 17:44:05</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_9.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474451045</string>
			<key>msg_id</key>
			<string>1</string>
			<key>msg_type</key>
			<string>text</string>
			<key>user_name</key>
			<string>陈正兵</string>
			<key>msg_text</key>
			<string>王工，中午下班吃饭了，我已经安排好了，吃完饭接着搞
</string>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-09-21 17:44:05</string>
			<key>group_id</key>
			<string>-1</string>
			<key>head_pic</key>
			<string>media/default_imgs/headpic_9.png</string>
			<key>is_out_member</key>
			<string>0</string>
			<key>is_readed</key>
			<string>0</string>
			<key>local_id</key>
			<string>1474451048</string>
			<key>msg_id</key>
			<string>1</string>
			<key>msg_type</key>
			<string>log</string>
			<key>user_name</key>
			<string>陈正兵</string>
			<key>msg_text</key>
			<string>今天做好了两个型号电缆线的复检报告交给监理部审查，并通过，已准许使用。</string>
			<key>msg_src</key>
			<array>
				<string>media/default_imgs/log_1.png</string>
				<string>media/default_imgs/log_2.png</string>
				<string>media/default_imgs/log_3.png</string>
			</array>
		</dict>
	</array>
	<key>JGJTeamValues</key>
	<dict>
		<key>team_info</key>
		<dict>
			<key>pro_name</key>
			<string>世纪城项目</string>
			<key>team_comment</key>
			<string>世纪城项目</string>
		</dict>
		<key>source_members</key>
		<array/>
		<key>group_id</key>
		<string>-1</string>
		<key>group_info</key>
		<dict>
			<key>city_code</key>
			<string>510100</string>
			<key>city_name</key>
			<string>成都</string>
			<key>group_id</key>
			<string>-1</string>
			<key>group_name</key>
			<string>世纪城项目</string>
			<key>pro_id</key>
			<string>0</string>
			<key>pro_name</key>
			<string>世纪城项目</string>
		</dict>
		<key>member_list</key>
		<array>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_2.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>1</integer>
				<key>real_name</key>
				<string>王强</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_3.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>徐太武</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_4.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>刘文强</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_5.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>赵小光</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_6.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>范小俊</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_7.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>夏华云</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_8.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>郭胜南</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_9.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>陈正兵</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
			<dict>
				<key>head_pic</key>
				<string>media/default_imgs/headpic_1.png</string>
				<key>is_active</key>
				<integer>1</integer>
				<key>is_creater</key>
				<integer>0</integer>
				<key>real_name</key>
				<string>陈刚</string>
				<key>telphone</key>
				<string>18111297151</string>
				<key>uid</key>
				<string>100003762</string>
			</dict>
		</array>
		<key>report_user_list</key>
		<array/>
	</dict>
</dict>
</plist>
