<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mineInfos</key>
	<array>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>基础资料</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string>立即认证</string>
					<key>remark</key>
					<string>通过实名认证可获得更多人的信任</string>
					<key>title</key>
					<string>实名认证</string>
					<key>workerIcon</key>
					<string>icon_dentification_normal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>我的二维码</string>
					<key>workerIcon</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
