<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mineInfos</key>
	<array>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>我的故事</string>
					<key>workerIcon</key>
					<string>dynamic</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>我的收藏</string>
					<key>workerIcon</key>
					<string>collect</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>帮助中心</string>
					<key>workerIcon</key>
					<string>icon_help_normal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>意见反馈</string>
					<key>workerIcon</key>
					<string>icon_opinion_normal</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>邀请朋友</string>
					<key>workerIcon</key>
					<string>Invite-Friends</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>mineInfos</key>
			<array>
				<dict>
					<key>detailTitle</key>
					<string></string>
					<key>remark</key>
					<string></string>
					<key>title</key>
					<string>设置</string>
					<key>workerIcon</key>
					<string>icon_setting_normal</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
