<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GregorianHolidays</key>
	<dict>
		<key>1225</key>
		<string>圣诞节</string>
		<key>1224</key>
		<string>平安夜</string>
		<key>1201</key>
		<string>爱滋病日</string>
		<key>1111</key>
		<string>光棍节</string>
		<key>1031</key>
		<string>万圣节</string>
		<key>1001</key>
		<string>国庆节</string>
		<key>0910</key>
		<string>教师节</string>
		<key>0801</key>
		<string>建军节</string>
		<key>0701</key>
		<string>建党日</string>
		<key>0601</key>
		<string>儿童节</string>
		<key>0504</key>
		<string>青年节</string>
		<key>0501</key>
		<string>劳动节</string>
		<key>0401</key>
		<string>愚人节</string>
		<key>0314</key>
		<string>植树节</string>
		<key>0308</key>
		<string>妇女节</string>
		<key>0214</key>
		<string>情人节</string>
		<key>0101</key>
		<string>元旦</string>
		<key>0204</key>
		<string>立春</string>
		<key>0219</key>
		<string>雨水</string>
		<key>0305</key>
		<string>惊蛰</string>
		<key>0320</key>
		<string>春分</string>
		<key>0420</key>
		<string>谷雨</string>
		<key>0404</key>
		<string>清明</string>
		<key>0505</key>
		<string>立夏</string>
		<key>0521</key>
		<string>小满</string>
		<key>0605</key>
		<string>芒种</string>
		<key>0621</key>
		<string>夏至</string>
		<key>0707</key>
		<string>小暑</string>
		<key>0722</key>
		<string>大暑</string>
		<key>0807</key>
		<string>立秋</string>
		<key>0823</key>
		<string>处暑</string>
		<key>0907</key>
		<string>白露</string>
		<key>0923</key>
		<string>秋分</string>
		<key>1008</key>
		<string>寒露</string>
		<key>1023</key>
		<string>霜降</string>
		<key>1107</key>
		<string>立冬</string>
		<key>1122</key>
		<string>小雪</string>
		<key>1207</key>
		<string>大雪</string>
		<key>1222</key>
		<string>冬至</string>
		<key>0105</key>
		<string>小寒</string>
		<key>0120</key>
		<string>大寒</string>
	</dict>
	<key>ChineseHolidays</key>
	<dict>
		<key>1230</key>
		<string>除夕</string>
		<key>1223</key>
		<string>小年</string>
		<key>1208</key>
		<string>腊八节</string>
		<key>0909</key>
		<string>重阳节</string>
		<key>0815</key>
		<string>中秋节</string>
		<key>0715</key>
		<string>中元节</string>
		<key>0707</key>
		<string>七夕节</string>
		<key>0505</key>
		<string>端午节</string>
		<key>0115</key>
		<string>元宵节</string>
		<key>0101</key>
		<string>春节</string>
	</dict>
</dict>
</plist>
